<h1>Index page</h1>
<ul>
  <% @cart.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>
<%= form_for @item do |f| %>
  <%= f.label :item_name %>
  <%= f.text_field :item_name %>
  <%= f.submit %>
<% end %>