<h1>Index page</h1>
<ul>
  <% @cart.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>
<%= form_for @item do |f| %>
  <%= f.label :product %>
  <%= f.text_field :product %>
  <%= f.submit "add to cart" %>
<% end %>